## Análisis de datos de retail utilizando pandas

En el siguiente notebook se analiza el dataset retail-sales de Kaggle, que contiene datos de ventas por categorias de tiendas en el periodo 2023 a 2024

In [87]:
# importar librerias necesarias
import pandas as pd
import numpy as np

In [60]:
# importacion de los datos y conversion a dataframe
retail_sales = pd.read_csv('../data/retail_sales.csv')
print(retail_sales.head(10))

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

### **Exploración inicial de los datos**

In [61]:
# visualizacion de las ultimas 5 filas del dataframe
print(retail_sales.tail(5))

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

In [62]:
# visualizar info general del dataframe
print(retail_sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None

In [63]:
# datos de estadisticos del dataframe
print("Estadistica descriptiva del dataset")
print(retail_sales.describe())

Estadistica descriptiva del dataset
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [64]:
# descripcion de los tipos de datos en columnas
print(retail_sales.dtypes)

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [65]:
# convertir las columnas con datos objeto a string
retail_sales = retail_sales.astype({col: 'string' for col in retail_sales.select_dtypes(include='object').columns})
print(retail_sales.dtypes)

Transaction ID               int64
Date                string[python]
Customer ID         string[python]
Gender              string[python]
Age                          int64
Product Category    string[python]
Quantity                     int64
Price per Unit               int64
Total Amount                 int64
dtype: object

In [66]:
# identificando los valores unicos en la columna producto
print(retail_sales['Product Category'].value_counts())

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: Int64

In [67]:
# mostrar solo donde las ventas sean superiores a 50
print(retail_sales[retail_sales['Total Amount']>50])

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
7                 8  2023-02-22     CUST008    Male   30      Electronics
..              ...         ...         ...     ...  ...              ...
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
3           1             500           500
4           2              50           100
7           4              25           100
..        ...             ...           ...
993         2             500          1000
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[783 rows x 9 columns]

In [68]:
# mostrar solo donde el precio sea menor a 30
print(retail_sales[retail_sales['Price per Unit']<30])

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
6                 7  2023-03-13     CUST007    Male   46         Clothing
7                 8  2023-02-22     CUST008    Male   30      Electronics
11               12  2023-10-30     CUST012    Male   35           Beauty
16               17  2023-04-22     CUST017  Female   27         Clothing
17               18  2023-04-30     CUST018  Female   47      Electronics
..              ...         ...         ...     ...  ...              ...
979             980  2023-07-29     CUST980  Female   31      Electronics
984             985  2023-05-30     CUST985  Female   19      Electronics
987             988  2023-05-28     CUST988  Female   63         Clothing
988             989  2023-12-28     CUST989  Female   44      Electronics
997             998  2023-10-29     CUST998  Female   23           Beauty

     Quantity  Price per Unit  Total Amount
6           2              25            50
7           4              25           100
11          3              25            75
16          4              25           100
17          2              25            50
..        ...             ...           ...
979         3              25            75
984         2              25            50
987         3              25            75
988         1              25            25
997         4              25           100

[210 rows x 9 columns]

In [69]:
# mostrar donde el producto sean beauty sean mayores a 50
print(retail_sales.query('`Product Category` == "Beauty" & `Total Amount` > 50'))

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
4                 5  2023-05-06     CUST005    Male   30           Beauty
11               12  2023-10-30     CUST012    Male   35           Beauty
20               21  2023-01-14     CUST021  Female   50           Beauty
27               28  2023-04-23     CUST028  Female   43           Beauty
..              ...         ...         ...     ...  ...              ...
981             982  2023-12-19     CUST982  Female   46           Beauty
989             990  2023-05-25     CUST990  Female   58           Beauty
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty

     Quantity  Price per Unit  Total Amount
0           3              50           150
4           2              50           100
11          3              25            75
20          1             500           500
27          1             500           500
..        ...             ...           ...
981         3              30            90
989         2             500          1000
993         2             500          1000
996         3              30            90
997         4              25           100

[246 rows x 9 columns]

In [70]:
# mostrar solo las columnas Producto y Ventas del DataFrame
print(retail_sales[['Product Category','Total Amount']])

    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

In [71]:
# mostrar las filas de 5 a 10 (inclusive) y las columnas Producto y ventas.
print(retail_sales.loc[5:10, ['Product Category', 'Total Amount']])

   Product Category  Total Amount
5            Beauty            30
6          Clothing            50
7       Electronics           100
8       Electronics           600
9          Clothing           200
10         Clothing           100

In [72]:
# mostrar las primeras 5 filas y las primeras 3 columnas del DataFrame
print(retail_sales.iloc[0:5,0:3])

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005

In [74]:
# agrupar datos por categoria
retail_sales_grouped = retail_sales.groupby("Product Category")

In [75]:
# identificar el total de ventas por categoria
sales_per_category = retail_sales_grouped['Total Amount'].sum()
print(sales_per_category)

Product Category
Beauty         143515
Clothing       155580
Electronics    156905
Name: Total Amount, dtype: int64

In [76]:
# identificar el promedio de ventas por categoria
mean_sales_per_category = retail_sales_grouped['Total Amount'].mean()
print(mean_sales_per_category)

Product Category
Beauty         467.475570
Clothing       443.247863
Electronics    458.786550
Name: Total Amount, dtype: float64

In [77]:
# identificar cantidad de ventas por categoria
count_sales_per_category = retail_sales_grouped['Total Amount'].count()
print(count_sales_per_category)

Product Category
Beauty         307
Clothing       351
Electronics    342
Name: Total Amount, dtype: int64

In [78]:
# agrupar el dataset por producto y por genero
retail_sales_double_grouped = retail_sales.groupby(['Product Category','Age'])

In [79]:
# identificar el total de ventas por categoria y por edad
sales_per_category_age = retail_sales_double_grouped['Total Amount'].sum()
print(sales_per_category_age)

Product Category  Age
Beauty            18     4960
                  19     4365
                  20     2525
                  21     8000
                  22     5530
                         ...
Electronics       60     7020
                  61     2900
                  62     6280
                  63     6625
                  64     1240
Name: Total Amount, Length: 141, dtype: int64

In [80]:
# identificar el promedio de ventas por categoria y edad
mean_sales_per_category_age = retail_sales_double_grouped['Total Amount'].mean()
print(mean_sales_per_category_age)

Product Category  Age
Beauty            18     551.111111
                  19     623.571429
                  20     315.625000
                  21     888.888889
                  22     614.444444
                            ...
Electronics       60     780.000000
                  61     580.000000
                  62     523.333333
                  63     736.111111
                  64     155.000000
Name: Total Amount, Length: 141, dtype: float64

In [81]:
# encontar los maximos y minimos de ventas
max_sales = retail_sales['Total Amount'].max()
min_sales = retail_sales['Total Amount'].min()

In [83]:
# duplicar el dataframe en otro para agregar columnas
retail_sales_added = retail_sales
# normalizar las ventas agregando una columna 
retail_sales_added['Sales Normalized'] = retail_sales_added['Total Amount'].apply(
    lambda x: (x - min_sales)/(max_sales - min_sales)
)
print(retail_sales_added)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Sales Normalized
0           3              50           150          0.063291
1           2             500          1000          0.493671
2           1              30            30          0.002532
3           1             500           500          0.240506
4           2              50           100          0.037975
..        ...             ...           ...               ...
995         1              50            50          0.012658
996         3              30            90          0.032911
997         4              25           100          0.037975
998         3              50           150          0.063291
999         4              30           120          0.048101

[1000 rows x 10 columns]

In [84]:
# crear una funcion que clasifique las ventas 
def sales_level(sales):
    if (sales >= 900):
        return('alta')
    elif (sales <= 30):
        return('baja')
    else:
        return('media')

In [85]:
# agregar una columna que categoriza las ventas como alto, medio o bajo
retail_sales_added['Level'] = retail_sales_added['Total Amount'].apply(sales_level)
print(retail_sales_added)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Sales Normalized  Level
0           3              50           150          0.063291  media
1           2             500          1000          0.493671   alta
2           1              30            30          0.002532   baja
3           1             500           500          0.240506  media
4           2              50           100          0.037975  media
..        ...             ...           ...               ...    ...
995         1              50            50          0.012658  media
996         3              30            90          0.032911  media
997         4              25           100          0.037975  media
998         3              50           150          0.063291  media
999         4              30           120          0.048101  media

[1000 rows x 11 columns]

In [91]:
# calcular la desviacion respecto a la media de ventas
# Calcular la desviación absoluta media
# mean_A = df['A'].mean()
# df['MAD_A'] = df['A'].apply(lambda x: np.abs(x - mean_A))
# print(df)
# se calcula la media de las ventas
mean_sales = retail_sales_added['Total Amount'].mean()
retail_sales_added['MAD'] = retail_sales_added['Total Amount'].apply(lambda x: np.abs(x - mean_sales))
print (retail_sales_added)

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
2                 3  2023-01-13     CUST003    Male   50      Electronics
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
..              ...         ...         ...     ...  ...              ...
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount  Sales Normalized  Level  \
0           3              50           150          0.063291  media
1           2             500          1000          0.493671   alta
2           1              30            30          0.002532   baja
3           1             500           500          0.240506  media
4           2              50           100          0.037975  media
..        ...             ...           ...               ...    ...
995         1              50            50          0.012658  media
996         3              30            90          0.032911  media
997         4              25           100          0.037975  media
998         3              50           150          0.063291  media
999         4              30           120          0.048101  media

     Mean Deviation    MAD
0             306.0  306.0
1             544.0  544.0
2             426.0  426.0
3              44.0   44.0
4             356.0  356.0
..              ...    ...
995           406.0  406.0
996           366.0  366.0
997           356.0  356.0
998           306.0  306.0
999           336.0  336.0

[1000 rows x 13 columns]