## Análisis de datos de retail utilizando pandas

En el siguiente notebook se analiza el dataset retail-sales de Kaggle, que contiene datos de ventas por categorias de tiendas en el periodo 2023 a 2024

In [1]:
# importar librerias necesarias
import pandas as pd

In [2]:
# importacion de los datos y conversion a dataframe
retail_sales = pd.read_csv('../data/retail_sales.csv')
print(retail_sales.head(10))

   Transaction ID        Date Customer ID  Gender  Age Product Category  \
0               1  2023-11-24     CUST001    Male   34           Beauty
1               2  2023-02-27     CUST002  Female   26         Clothing
2               3  2023-01-13     CUST003    Male   50      Electronics
3               4  2023-05-21     CUST004    Male   37         Clothing
4               5  2023-05-06     CUST005    Male   30           Beauty
5               6  2023-04-25     CUST006  Female   45           Beauty
6               7  2023-03-13     CUST007    Male   46         Clothing
7               8  2023-02-22     CUST008    Male   30      Electronics
8               9  2023-12-13     CUST009    Male   63      Electronics
9              10  2023-10-07     CUST010  Female   52         Clothing

   Quantity  Price per Unit  Total Amount
0         3              50           150
1         2             500          1000
2         1              30            30
3         1             500           500
4         2              50           100
5         1              30            30
6         2              25            50
7         4              25           100
8         2             300           600
9         4              50           200

### **Exploración inicial de los datos**

In [3]:
# visualizacion de las ultimas 5 filas del dataframe
print(retail_sales.tail(5))

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
995             996  2023-05-16     CUST996    Male   62         Clothing
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
995         1              50            50
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

In [4]:
# visualizar info general del dataframe
print(retail_sales.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    1000 non-null   int64
 1   Date              1000 non-null   object
 2   Customer ID       1000 non-null   object
 3   Gender            1000 non-null   object
 4   Age               1000 non-null   int64
 5   Product Category  1000 non-null   object
 6   Quantity          1000 non-null   int64
 7   Price per Unit    1000 non-null   int64
 8   Total Amount      1000 non-null   int64
dtypes: int64(5), object(4)
memory usage: 70.4+ KB
None

In [5]:
# datos de estadisticos del dataframe
print("Estadistica descriptiva del dataset")
print(retail_sales.describe())

Estadistica descriptiva del dataset
       Transaction ID         Age     Quantity  Price per Unit  Total Amount
count     1000.000000  1000.00000  1000.000000     1000.000000   1000.000000
mean       500.500000    41.39200     2.514000      179.890000    456.000000
std        288.819436    13.68143     1.132734      189.681356    559.997632
min          1.000000    18.00000     1.000000       25.000000     25.000000
25%        250.750000    29.00000     1.000000       30.000000     60.000000
50%        500.500000    42.00000     3.000000       50.000000    135.000000
75%        750.250000    53.00000     4.000000      300.000000    900.000000
max       1000.000000    64.00000     4.000000      500.000000   2000.000000

In [6]:
# descripcion de los datos de columnas
print(retail_sales.dtypes)

Transaction ID       int64
Date                object
Customer ID         object
Gender              object
Age                  int64
Product Category    object
Quantity             int64
Price per Unit       int64
Total Amount         int64
dtype: object

In [7]:
# identificando los valores unicos en la columna producto
print(retail_sales['Product Category'].value_counts())

Product Category
Clothing       351
Electronics    342
Beauty         307
Name: count, dtype: int64

In [8]:
# mostrar solo donde las ventas sean superiores a 50
print(retail_sales[retail_sales['Total Amount']>50])

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
1                 2  2023-02-27     CUST002  Female   26         Clothing
3                 4  2023-05-21     CUST004    Male   37         Clothing
4                 5  2023-05-06     CUST005    Male   30           Beauty
7                 8  2023-02-22     CUST008    Male   30      Electronics
..              ...         ...         ...     ...  ...              ...
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty
998             999  2023-12-05     CUST999  Female   36      Electronics
999            1000  2023-04-12    CUST1000    Male   47      Electronics

     Quantity  Price per Unit  Total Amount
0           3              50           150
1           2             500          1000
3           1             500           500
4           2              50           100
7           4              25           100
..        ...             ...           ...
993         2             500          1000
996         3              30            90
997         4              25           100
998         3              50           150
999         4              30           120

[783 rows x 9 columns]

In [9]:
# mostrar solo donde el precio sea menor a 30
print(retail_sales[retail_sales['Price per Unit']<30])

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
6                 7  2023-03-13     CUST007    Male   46         Clothing
7                 8  2023-02-22     CUST008    Male   30      Electronics
11               12  2023-10-30     CUST012    Male   35           Beauty
16               17  2023-04-22     CUST017  Female   27         Clothing
17               18  2023-04-30     CUST018  Female   47      Electronics
..              ...         ...         ...     ...  ...              ...
979             980  2023-07-29     CUST980  Female   31      Electronics
984             985  2023-05-30     CUST985  Female   19      Electronics
987             988  2023-05-28     CUST988  Female   63         Clothing
988             989  2023-12-28     CUST989  Female   44      Electronics
997             998  2023-10-29     CUST998  Female   23           Beauty

     Quantity  Price per Unit  Total Amount
6           2              25            50
7           4              25           100
11          3              25            75
16          4              25           100
17          2              25            50
..        ...             ...           ...
979         3              25            75
984         2              25            50
987         3              25            75
988         1              25            25
997         4              25           100

[210 rows x 9 columns]

In [10]:
# mostrar donde el producto sean beauty sean mayores a 50
print(retail_sales.query('`Product Category` == "Beauty" & `Total Amount` > 50'))

     Transaction ID        Date Customer ID  Gender  Age Product Category  \
0                 1  2023-11-24     CUST001    Male   34           Beauty
4                 5  2023-05-06     CUST005    Male   30           Beauty
11               12  2023-10-30     CUST012    Male   35           Beauty
20               21  2023-01-14     CUST021  Female   50           Beauty
27               28  2023-04-23     CUST028  Female   43           Beauty
..              ...         ...         ...     ...  ...              ...
981             982  2023-12-19     CUST982  Female   46           Beauty
989             990  2023-05-25     CUST990  Female   58           Beauty
993             994  2023-12-18     CUST994  Female   51           Beauty
996             997  2023-11-17     CUST997    Male   52           Beauty
997             998  2023-10-29     CUST998  Female   23           Beauty

     Quantity  Price per Unit  Total Amount
0           3              50           150
4           2              50           100
11          3              25            75
20          1             500           500
27          1             500           500
..        ...             ...           ...
981         3              30            90
989         2             500          1000
993         2             500          1000
996         3              30            90
997         4              25           100

[246 rows x 9 columns]

In [11]:
# mostrar solo las columnas Producto y Ventas del DataFrame
print(retail_sales[['Product Category','Total Amount']])

    Product Category  Total Amount
0             Beauty           150
1           Clothing          1000
2        Electronics            30
3           Clothing           500
4             Beauty           100
..               ...           ...
995         Clothing            50
996           Beauty            90
997           Beauty           100
998      Electronics           150
999      Electronics           120

[1000 rows x 2 columns]

In [12]:
# mostrar las filas de 5 a 10 (inclusive) y las columnas Producto y ventas.
print(retail_sales.loc[5:10, ['Product Category', 'Total Amount']])

   Product Category  Total Amount
5            Beauty            30
6          Clothing            50
7       Electronics           100
8       Electronics           600
9          Clothing           200
10         Clothing           100

In [13]:
# mostrar las primeras 5 filas y las primeras 3 columnas del DataFrame
print(retail_sales.iloc[0:5,0:3])

   Transaction ID        Date Customer ID
0               1  2023-11-24     CUST001
1               2  2023-02-27     CUST002
2               3  2023-01-13     CUST003
3               4  2023-05-21     CUST004
4               5  2023-05-06     CUST005